{% extends 'layout.html' %}

{% block title %}
  Submission Guidelines
{% endblock %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/submission.css' %}">
{% endblock %}

{% block content %}
  <header>
    <div class="logo-container">
     <image src="../../static/images/SAS Logo.png" alt="Institution Logo" class="logo" />
      <div class="institution-name">
        <span>SCHOOL OF ADVANCED STUDIES</span>
        <span class="university-name">Saint Louis University, Baguio City</span>
      </div>
    </div>
    <nav>
      <a href="{% url 'submission' %}">Home</a>
      <a href="{% url 'guidelines' %}">Guidelines</a>
      <a href="#">Help</a>
    </nav>
  </header>

  <div class="container">
    <div class="guidelines">
    <h3>📄 Submission Guidelines</h3>
    <p>Please read the following guidelines before submitting your research paper:</p>
    <ul>
      <li>Submit your paper in PDF or DOC/DOCX format only, following the filename format: LastName_FirstName_Title.</li>
      <li>The file size must not exceed 20MB.</li>
      <li>Make sure the paper follows the required template format.</li>
      <li>Check for grammar and plagiarism before submission.</li>
      <li>Each submission will undergo a review process before acceptance.</li>
      <li>You may be required to revise and resubmit based on panel feedback.</li>
      <li>For technical issues, contact the Help Desk via email or phone.</li>
    </ul>
  </div>
  </div>
{% endblock %}

